footer {
  color: white;
  background-color: #252f31;
  border-top: 1px solid #ddd;
  width: 100%;
  height: fit-content;
  margin-top: 5px;
}
footer .contact .container {
  display: flex;
}
.contact {
  background-color: #252f31;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
}
.contact .info {
  /* float: left; */
  /* width: 50%; */
  margin-right: 5%;
  flex: 1 1;
}

.contact h2 {
  color: #fff;
  margin-left: 30px;
}

.contact p {
  color: #6a6e71;
  margin-left: 30px;
  line-height: 1.7;
}

.contact p strong {
  color: #d1d6da;
}

.contact .form {
  /* float: left; */
  width: 45%;
  flex: 1 1;
}

.contact .form label {
  display: block;
  color: #d1d6da;
  margin: 10px 0px;
}

.contact .form input[type="text"] {
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0;
  width: 80%;
}

.contact .form textarea {
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0;
  width: 80%;
  height: 300px;
}

.contact .form input[type="submit"] {
  background-color: #191e22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin-top: 10px;
}

.footer {
  background-color: #191e22;
  color: #6a6e71;
  padding: 20px 0px;
  text-align: center;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0;
}

.footer ul li {
  display: inline-block;
}
.footer ul li a {
  color: #191e22;
  display: block;
  transition: opacity 0.4s ease-in-out;
}
.footer ul li a:hover {
  opacity: 0.5;
}
.footer ul li a i {
  padding: 6px;
  margin: 5px;
  width: 22px;
  border-radius: 50%;
  line-height: 100%;
}
.footer ul li a .fa-github {
  background-color: #517fa6;
}
.footer ul li a .fa-youtube-play {
  color: #fff;
  background-color: #ca3737;
}
.footer ul li a .fa-twitter {
  background-color: #517fa6;
}
.footer ul li a .fa-facebook {
  background-color: #3a589b;
}
/* fa-github
fa-youtube-play
fa-twitter
fa-facebook

*/
