.slider {
  background-image: url("./imgs/2.jpg");
  animation: cards 10s linear infinite;
  animation-direction: alternate;
  background-size: cover;
  background-color: #eee;
  height: 100vh;
}
@keyframes cards {
  0% {
    background-image: url("imgs/2.jpg");
  }

  35% {
    background-image: url("imgs/slide-1.jpg");
  }

  70% {
    background-image: url("imgs/slide-2.jpg");
  }

  100% {
    background-image: url("imgs/21.jpg");
  }
}
.slider .title {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
}

.slider .title h2 {
  margin: 0px auto;
  font-size: 60px;
  font-family: monospace, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  width: 600px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 620px) {
  .slider .title h2 {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
