.slider {
  background-image: url("./imgs/2.jpg");
  background-size: cover;
  background-color: #eee;
  height: 100vh;
}

.slider .title {
  padding-top: 50px;
  height: 600px;
  text-align: center;
  color: #fff;
}

.slider .title h2 {
  margin: 0px auto;
  font-size: 60px;
  font-family: monospace, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  width: 600px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
