.navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
  text-transform: capitalize;
  font: 20px bold;
  position: fixed;
  width: 100vw;
  z-index: 5;
}
@media screen and (max-width: 500px) {
  .navbar {
    height: 21vh;
  }
}
.navbar .container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
/* #252f31 */
.navbar h2 {
  margin: auto auto auto 15px;
  font-family: "Dancing Script", cursive;
  flex: 1 2 100px;
}
.navbar h2 span {
  color: #2ecc71;
  font-family: "Dancing Script", cursive;
}

.navbar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  margin-right: 20px;
  flex: 1 1 200px;
  /* width: 16px; */
  min-width: 255px;
}

.navbar ul li {
  padding: 10px;
  width: fit-content;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600px;
  cursor: pointer;
}
.navbar ul li a:hover {
  color: #30b576;
}
